{{ form_start(form) }}
    {{ form_row(form.manager) }}
    {{ form_row(form.employee) }}
    {{ form_row(form.dateEvaluation) }}
    {{ form_row(form.periode) }}
    {{ form_row(form.statut) }}
    {{ form_row(form.commentaire) }}
    <button class="btn">Valider</button>
{{ form_end(form) }}
