{% extends 'base.html.twig' %}

{% block title %}ObjectifNote Details{% endblock %}

{% block body %}
    <h1>ObjectifNote</h1>

    <table>
        <tr>
            <th>Note</th>
            <td>{{ objectifNote.note }}</td>
        </tr>
        <tr>
            <th>Commentaire</th>
            <td>{{ objectifNote.commentaire }}</td>
        </tr>
        <tr>
            <th>Statut</th>
            <td>{{ objectifNote.statut }}</td>
        </tr>
        <tr>
            <th>Objectif</th>
            <td>{{ objectifNote.objectif.titre }}</td>
        </tr>
        <tr>
            <th>Evaluation</th>
            <td>{{ objectifNote.evaluation.dateEvaluation|date('Y-m-d') }}</td>
        </tr>
    </table>

    <a href="{{ path('app_objectif_note_index') }}">Back to list</a>
    <a href="{{ path('app_objectif_note_edit', {'id': objectifNote.id}) }}">Edit</a>
    {{ include('objectif_note/_delete_form.html.twig') }}
{% endblock %}
